{% extends "base.html.twig" %}

{% block body %}
    <h1>Download page</h1>

    <ul>
        <li><a href="{{ path('download') }}">Download archive file</a></li>
        <li><a href="{{ path('index') }}">Go Home</a></li>
    </ul>

{% endblock %}